@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/slick/slick.sass"



*::-webkit-input-placeholder
	color: #c1c1c1
	opacity: 1

*:-moz-placeholder
	color: #c1c1c1
	opacity: 1

*::-moz-placeholder
	color: #c1c1c1
	opacity: 1

*:-ms-input-placeholder
	color: #c1c1c1
	opacity: 1



body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #c1c1c1
body input:required:valid,
body textarea:required:valid
	color: #c1c1c1

// team-section
.team
	h2
		text-align: center
		font-size: 42px
		font-weight: normal
		color: #4e525d
		margin-top: 88px

		
.team-wrap
	margin: 0 auto
	max-width: 1170px
	display: flex
	display: -webkit-flex
	justify-content: space-between
	-webkit-justify-content: space-between
	-webkit-flex-wrap: wrap
	flex-wrap: wrap
.team-wrap__item
	width: 260px
	text-align: center
	margin: 88px auto 84px
	
.item1,
.item4
	+animation-delay(.3s)

.item__photo
	background-color: #eeeef0
	width: 201px
	height: 201px
	border-radius: 50%
	margin: 0 auto
	position: relative
	&:hover
		.plus
			display: block

.plus
	position: absolute
	top: 50%
	left: 50%
	-webkit-transform: translate(-50%, 50%)
	-ms-transform: translate(-50%, 50%)
	transform: translate(-50%, 50%)
	display: none
	.hor
		height: 11px
		width: 42px
		background-color: #f46d6d
		position: absolute
		top: -5px
		left: -22px
	.vert
		position: absolute
		height: 42px
		width: 11px
		background-color: #f46d6d
		top: -15px
		right: 15px
		z-index: 50

.item__text
	h4 
		font-size: 22px
		font-weight: normal
		margin-top: 61px
		margin-bottom: 0
		line-height: 34px
	p 
		font-size: 14px
		margin-top: 0
		margin-bottom: 18px
		line-height: 26px

	// team-section-end

.tariff
	background-color: #f1f1f1

.tariff-wrap
	max-width: 1170px
	margin: 0 auto	
	display: flex
	display: -webkit-flex
	justify-content: space-between
	-webkit-justify-content: space-between
	-webkit-flex-wrap: wrap
	flex-wrap: wrap

.tariff-wrap__item
	width: 368px
	text-align: center
	padding-top: 92px
	padding-bottom: 101px
	margin: 0 auto
	+animation-delay(.3s)

.tariff-wrap__plan
	background-color: #485460
	color: #fff
	h3
		font-size: 26px
		font-weight: normal
		line-height: 75px
		margin-bottom: 0

.tariff-wrap__content
	background-color: #f8f9fb
	padding-bottom: 36px
	p.tariff-wrap__rate
		margin: 0
		line-height: 69px
		font-size: 20px
		border-bottom: 1px solid #ecf0f1
	ul
		padding: 0
		margin: 0 0 35px 0
		list-style: none
		li 
			background-color: #fff
			border-bottom: 1px solid #ecf0f1
			color: #8c9299
			font-size: 14px
			line-height: 45px

.tariff-wrap__button

.btn
	font-size: 17px
	font-family: "OpenSans-Semibold", sans-serif
	color: #fff
	background-color: #788492
	border-radius: 3px
	padding: 8px 49px
	&:hover
		background-color: #49cbcd

// triff-section-end
.contacts
	background-image: url("../../img/bg-social.jpg")
	background-repeat: no-repeat
	overflow: hidden
	background-size: cover
	h2 
		text-align: center
		font-size: 42px
		color: #fff
		font-weight: normal
		margin-top: 0
		padding-top: 85px

.contacts-wrap
	margin: 0 auto
	max-width: 1170px	

	

.contacts-wrap__social
	min-width: 300px
	width: 40%
	color: #fff
	text-align: left
	float: left
	padding-bottom: 20px
	h4
		font-size: 24px
		font-weight: normal
		margin-top: 58px
		margin-bottom: 0
	p 
		font-size: 14px
		color: #a9a9a9
		margin-top: 0
	p.contact-info
		font-family: "MyriadPro-Regular", sans-serif
		font-size: 13px
		color: #bface2
		margin-bottom: 4px
	p.phone
		color: #bface2
		margin-bottom: 4px

.social__icons
	margin-top: 35px
	margin-bottom: 94px
	position: relative
	width: 160px
	.icon
		height: 42px
		width: 42px
		border-radius: 50%
		display: inline-block
		position: absolute
	
		&:hover
			height: 46px
			width: 46px
	.social__icons__fb
		background-color: #3b5997
		left: -4px
	.social__icons__twit
		background-color: #3ec2f3
		left: 54px
	.social__icons__google
		background-color: #e44c41
		left: 112px
	.ti-google,
	.ti-facebook,
	.ti-twitter-alt
		position: absolute
		font-size: 21px;
		color: #fff
		left: 50%
		top: 50%
		-webkit-transform: translate(-50%, -50%)
		-ms-transform: translate(-50%, -50%)
		transform: translate(-50%, -50%)


.contacts-wrap__form
	float: right
	margin-top: 66px
form 
	
	width: 570px
input
	height: 42px
	width: 250px
	border: none
	background-color: #fff
	border-radius: 3px
	border-style: none
	padding-left: 20px
	font-size: 16px
	margin-bottom: 29px
	float: left
input.name
	margin-right: 28px
textarea
	border: none
	background-color: #fff
	border-radius: 3px
	border-style: none
	width: 532px
	height: 144px
	margin-bottom: 29px
	font-size: 16px
	color: #c1c1c1
	font-family: "OpenSans", sans-serif
	padding: 18px
	resize: none

.form__button
	height: 50px
	width: 170px
	float: right
	background-color: #49cbcd
	color: #fff
	font-size: 22px
	padding-left: 0
	font-family: "OpenSans", sans-serif
	margin-bottom: 100px

// contacts-section-end
.up	
	position: fixed
	bottom: 20px
	right: 10px
	width: 50px
	height: 50px
	background-color: rgba(73,203,205,.9)
	text-align: center
	color: #fff
	line-height: 50px
	border-radius: 5px

.up.mPS2id-highlight
	display: none
//ALWAYS END
@import "media"
